#page-container {
  margin-top: 0px;
}

div #header {
  display: flex; justify-content: space-around; margin-bottom: 20px;
}

#nembo , #dhis2-logo{
  width:20%;
}

#header-contents {
  margin-top: 10px;
}
