<div class="container-fluid">
  <div class="row">
    <div class="content">

      <ul class="exo-menu">
        <li><a class="active">Home</a></li>
        <li class="mega-drop-down"><a>Info & Access</a>
          <div class="animated fadeIn mega-menu">
            <div class="mega-menu-wrap">
              <div class="row">
                <div class="col-md-4 info-access">
                  <h4 class="row mega-title"></h4>
                </div>
                <div class="col-md-2 info-access">
                  <h4 class="row mega-title">Other WHO Portals</h4>
                  <div>
                    <ul class="list-group">
                      <li><a href="http://nho.moh.gov.rw" target="_blank">Rwanda National Obervatory</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3 info-access">
                  <h4 class="row mega-title">User Reviews</h4>
                  <ul class="stander">
                    <li><a>Accesses</a></li>
                  </ul>
                </div>
                <div class="col-md-3 info-access">
                  <h4 class="row mega-title">SIgn Up | Sign In</h4>
                  <ul class="description">
                    <li><a>Sign Up</a></li>
                    <li><a>Sign In</a></li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </li>
        <li class="drop-down"><a>Downloads</a>
          <!--Drop Down-->
          <ul class="drop-down-ul animated fadeIn">
            <li class="flyout-right"><a>Health Reports</a><!--Flyout Right-->
              <ul class="animated fadeIn" style="height: 200px; overflow-y: auto">
                <li><a>Census</a></li>
                <li><a>Community Surveys</a></li>
                <li><a>Facility Surveys</a></li>
                <li><a>Health Program Report</a></li>
                <li><a>HMIS Annual Reports</a></li>
                <li><a>Policies,Guidelines and Strategies</a></li>
                <li><a>Registers</a></li>
              </ul>
            </li>

            <li class="flyout-right"><a>HMIS Scorecards</a><!--Flyout Left-->
              <!--<ul class="animated fadeIn">-->
                <!--<li><a>RMNCH Scorecard</a></li>-->
              <!--</ul>-->
            </li>

            <li class="flyout-right"><a>Research works</a><!--Flyout Left-->
              <ul class="animated fadeIn">
                <li><a>Report category One</a></li>
              </ul>
            </li>

          </ul>
          <!--//End drop down-->

        </li>
        <li class="drop-down"><a>Raw Data Coverage</a>
          <!--Drop Down-->
          <ul class="drop-down-ul animated fadeIn">
            <li class="flyout-right"><a>HMIS & RCHs</a><!--Flyout Right-->
              <ul class="animated fadeIn hmis_rchs" style="height: 200px; overflow-y: auto">
                <li><a>HMIS-Kliniki ya Wajawazito(ANC)</a></li>
                <li><a>HMIS-Kutoka Wodi ya Wazazi(LD)</a></li>
                <li><a>HMIS-Ufuatiliaji wa Watoto(Child Health)</a></li>
                <li><a>HMIS-Wagonjwa wa Kulaza(IPD)</a></li>
                <li><a>HMIS-Wagonjwa wa Nje(OPD)</a></li>
                <li><a>HMIS-Huduma Baada ya Kujifungua(Postnatal)</a></li>
                <li><a>HMIS-Uzazi wa Mpango(FP)</a></li>
                <li><a>HMIS-Report Kutoka Kituo cha Huduma(Book10)</a></li>
                <li><a>HMIS-Tracer Medicine</a></li>
                <li><a>HMIS-Magonjwa ya Kuhara(DTC)</a></li>
                <li><a>HMIS-Wagonjwa wa Macho(Eye)</a></li>
                <li><a>HMIS-Kutoka Wodi ya Wazazi(L&D)</a></li>
                <li><a>HMIS-Wagonjwa wa Kinywa(Dental)</a></li>
              </ul>
            </li>

            <li class="flyout-right"><a>NACP</a><!--Flyout Left-->
              <ul class="animated fadeIn">
                <li><a>NACP-Home based care(HUWANYU)</a></li>
                <li><a>NACP-PMTCT</a></li>
                <li><a>NACP-Sexually Transmitted Infections(STI)</a></li>
                <li><a>NACP-HIV Care and Treatment(HCT)</a></li>
              </ul>
            </li>

            <li class="flyout-right"><a>NTLP</a><!--Flyout Left-->
              <ul class="animated fadeIn"  style="height: 150px; overflow-y: auto">
                <li><a>NTLP-Case Notification report of Leprosy(LEP07)</a></li>
                <li><a>NTLP-Leprosy patients tratments outcome(LEP09)</a></li>
                <li><a>NTLP-Annual Report on Prevention Disabilities(LEP10)</a></li>
                <li><a>NTLP-Tuberculosis and TB/HIV(TB07)</a></li>
                <li><a>NTLP-Tuberculosis and TB/HIV(TB09)</a></li>
              </ul>
            </li>

          </ul>
          <!--//End drop down-->

        </li>
        <li class="mega-drop-down pull-right"><a>Contacts</a>
          <div class="animated fadeIn mega-menu">
            <div class="mega-menu-wrap">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-3 contact">
                  <h4 class="row mega-title">Ministry of Health Tanzania (MoHCDGEC)</h4>
                  <ul class="stander">
                    <h5>University of Dodoma, Faculty of Social Science in Community Development, Building No. 11</h5>

                    <address>P.O.BOX  743 <br>

                    40478 Dodoma <br>

                    Tel: +255-22-2342000/5 <br>
                    Email: ps@moh.go.tz <br>
                    Web: <a href="http://www.moh.go.tz/" target="_blank">www.moh.go.tz</a>
                    </address>
                  </ul>
                </div>
                <div class="col-md-3 contact">
                  <h4 class="row mega-title">WHO</h4>
                  <ul class="stander">
                    <h5>WHO Headquarters in Geneva</h5>
                    <address>
                      Avenue Appia 20 <br>
                      1202 Geneva <br>
                      Telephone: +41-22-7912111 <br>
                      Web: <a href="http://www.who.int/" target="_blank">www.who.int</a>
                    </address>
                  </ul>
                </div>
                <div class="col-md-2"></div>

              </div>
            </div>
          </div>
        </li>
        <a class="toggle-menu visible-xs-block">|||</a>
      </ul>
    </div>
  </div>
</div>
<section class="container-fluid" style="margin-top: 20px">
  <div class="row">
    <div class="col-md-12">
      <div id="header">
        <div id="nembo">
          <img src="assets/icons/nembo.png" class="img-responsive pull-left"  height="80px">
        </div>
        <div id="header-contents" class="text-center">
          <h1>TANZANIA HEALTH OBSERVATORY</h1>
          <h3>MINISTRY OF HEALTH COMMUNITY DEVELOPMENT GENDER ELDERLY AND CHILDREN</h3>
        </div>
        <div id="dhis2-logo">
          <img src="assets/icons/tanzania-logo.png" class="img-responsive pull-right" height="80px">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="page-container">
  <router-outlet></router-outlet>
</section>
<footer class="footer footer-big footer-color-black" data-color="black">
  <div class="container">
    <div class="row footer-details">
      <div class="col-md-4">
        <h4 class="text-left">Ministry of Health Tanzania (MoHCDGEC)</h4>
        <ul class="">
          <h5>University of Dodoma, Faculty of Social Science in Community Development, Building No. 11</h5>

          <address>P.O.BOX  743 <br>

            40478 Dodoma <br>

            Tel: +255-22-2342000/5 <br>
            Email: ps@moh.go.tz <br>
            Web: <a href="http://www.moh.go.tz/" target="_blank">www.moh.go.tz</a>
          </address>
        </ul>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h4 class="text-left">WHO</h4>
        <ul class="">
          <h5>WHO Headquarters in Geneva</h5>
          <address>
            Avenue Appia 20 <br>
            1202 Geneva <br>
            Telephone: +41-22-7912111 <br>
            Web: <a href="http://www.who.int/" target="_blank">www.who.int</a>
          </address>
        </ul>
      </div>
    </div>
    <hr>
    <div class="copyright">
      © <script> document.write(new Date().getFullYear()) </script>
      <a routerLiink=""><img src="assets/img/logo.png" alt="" height="30"></a>
    </div>
  </div>
</footer>

