<div class="">
  <div class="dropdown dashboard-menu-item-block-desktop" *ngFor="let menu of allDashboardMenus">
    <button class="dropbtn" routerLinkActive="active-dashboard" [routerLink]="['/dashboards', menu.id]">{{ menu.name }}<i *ngIf="menu.category == 'parent'" style="background-color: transparent; margin-left: 10px"><img src="assets/icons/dropdown.png" height="20px" width="20px"></i></button>
    <!--<button class="dropbtn" *ngIf="menu.category == 'parent'">{{ menu.name }}</button>-->
    <div class="dropdown-content">
      <!--<a href="#"  *ngFor="let subMenu of menu.subMenu">{{ subMenu.displayName }}</a>-->
      <div
    class="dashboard-menu-item-block-desktop"
    *ngFor="let subMenu of menu.subMenu"
  >
    <app-dashboard-menu-item-desktop
      [dashboardMenuItem]="subMenu.dashItem"
    >
    </app-dashboard-menu-item-desktop>
  </div>
    </div>
  </div>
</div>

