<div class="">
  <div class="dropdown dashboard-menu-item-block-desktop" *ngFor="let menu of allDashboardMenus">
    <button class="dropbtn" *ngIf="menu.category == 'leaf'" routerLinkActive="active-dashboard" [routerLink]="['/dashboards', menu.id]">{{ menu.name }}</button>
    <button class="dropbtn" *ngIf="menu.category == 'parent'">{{ menu.name }}</button>
    <div class="dropdown-content" *ngIf="menu.subMenu">
      <!--<a href="#"  *ngFor="let subMenu of menu.subMenu">{{ subMenu.displayName }}</a>-->
      <div
    class="dashboard-menu-item-block-desktop"
    *ngFor="let subMenu of menu.subMenu"
  >
    <app-dashboard-menu-item-desktop
      [dashboardMenuItem]="subMenu.dashItem"
    >
    </app-dashboard-menu-item-desktop>
  </div>
    </div>
  </div>
</div>

